*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: whitesmoke;
}
main{
    text-align: center;
    background-color: white;
    padding: 100px;
}
main h1{
    margin-bottom: 45px;
}
.input-group{
    margin-bottom: 15px;
}
button{
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    background-color: rgb(25, 86, 253);
    color: white;
    width: 100%;
    max-width: 1000px;
}

input{
    width: 1000px;
    height: 25px;
    font-size: 20px;
}